### Easy
Вычислить вероятность выживания, если пассажиру:

от 0 до 25 лет

от 25 до 50 лет

от 50 лет и старше

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [55]:
df = pd.read_csv('train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [56]:
def pct(*samples):
    total = df.Age.count()
    x = 1
    for sample in samples:
        print(f'Probability for sample {x}: {round(sample / total * 100, 1)}' + '%')
        x += 1

In [57]:
under_25 = df[df.Age < 25].PassengerId.count()
between_25_50 = df[(df.Age >= 25) & (df.Age < 50)].PassengerId.count()
over_50 = df[df.Age >= 50].PassengerId.count()

In [58]:
pct(under_25, between_25_50, over_50)

Probability for sample 1: 38.9%
Probability for sample 2: 50.7%
Probability for sample 3: 10.4%

### Medium

Вычислить с какой вероятностью пассажир женского пола, если известно, что он выжил (использовать теорему Байеса)

In [69]:
f_from_total = df[df['Sex'] == 'female'].Sex.count() / df.Sex.count()
m_from_total = df[df['Sex'] == 'male'].Sex.count() / df.Sex.count()

survived_from_f = df[(df['Survived'] == 1) & (df['Sex'] =='female')].Sex.count() / df[(df['Sex'] =='female')].Sex.count()
survived_from_m = df[(df['Survived'] == 1) & (df['Sex'] =='male')].Sex.count() / df[(df['Sex'] =='male')].Sex.count()

full_prob = survived_from_f * f_from_total + survived_from_m * m_from_total

In [68]:
f_from_total, m_from_total, survived_from_f, survived_from_m

(0.35241301907968575,
 0.6475869809203143,
 0.7420382165605095,
 0.18890814558058924)

In [70]:
full_prob

0.3838383838383838

In [71]:
survived_from_f * f_from_total / full_prob

0.6812865497076023